# https://www.digitalocean.com/community/tutorials/how-to-secure-a-containerized-node-js-application-with-nginx-let-s-encrypt-and-docker-compose#step-2-%E2%80%94-defining-the-web-server-configuration
server {
    listen 80;
    listen [::]:80;

    server_name example.com www.example.com;
    index index.html index.htm index.php;

    root /usr/share/nginx/html;

    # error_page 404 /404.html;
    # location = /404.html {
    #     root /usr/share/nginx;
    #     internal;
    # }

    include snippets/50x_errors.conf;
    include snippets/protection_misc.conf;
    include snippets/block-hidden-files.conf;
    include snippets/available_http_methods.conf;

    if ($blacklisted != 1) {
        rewrite ^/admin/?$ /wp-admin redirect;
        rewrite ^/login/?$ /wp-login.php redirect;
    }

    location ~ \.php$ {
        include snippets/wordpress_security.conf;
        include snippets/php.conf;
    }
}